.footer {
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .h4 {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        flex-direction: column;

    }
}